/* @media (min-width: 391px) {
    .main__section--bookmark3 {
        bottom: -195.8px;
    }
}

@media (min-width: 611px) {

    .main__section--bookmark2 {
        bottom: 27%;
    }

    .main__section--bookmark3 {
        bottom: -172px;
         
    }
} */