.main__section--profile {
  font-family: "Anton", sans-serif;
  color: #303030;
  margin-left: 20px;
  margin-right: 20px;
}

.section__flexbox--profile {
  margin-top: 80px;
  font-family: "Anton", sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.profile__aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
}

.article__svg {
  border: 2px solid #303030;
  border-radius: 15px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 1.2rem;
}

.section__settings {
  margin-top: 30px;
}
