
.main__section--bookmark {
    position: absolute;
    top: -18px;
    right: 0;
    stroke-width: 1.5;
    stroke: #303030;
}

.main__section--bookmark2 {
    position: absolute;
    top: -18px;
    right: 0;
    stroke-width: 1.5;
    stroke: #303030;
}

.main__section--bookmark3 {
    position: absolute;
    top: -18px;
    right: 0;
    stroke-width: 1.5;
    stroke: #303030;
}